.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 200% 200%;
  justify-content: center;
  position: relative;
  background-image: linear-gradient(200deg, #90CAF9, #F48FB1, #FFCC80);
  animation: gradientChange 15s ease infinite;
}

@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero h1 {
  font-size: 3rem;
  animation: float 3s ease-in-out infinite;
  color: white;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero p {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
}


/* Features cards */

.features {
  width: 100vw;
  height: 70vh;
  background: var(--bg, #F5F5F5);
}

.features h2 {
  margin-top: 0;
  padding: 1.5rem;
  text-align: center;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.feature-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 2rem;
  max-width: 300px;
  text-align: left;
}
