.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 200% 200%;
  justify-content: center;
  background-image: linear-gradient(200deg, #90CAF9, #F48FB1, #FFCC80);
  animation: gradientChange 15s ease infinite;
}

@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero h1 {
  font-size: 3rem;
  animation: float 3s ease-in-out infinite;
  color: white;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero p {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
}
